@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes progressAnimationStrike0 {
    from {
        width: 0;
    }

    to {
        width: 0;
    }
}

@keyframes progressAnimationStrike10 {
    from {
        width: 0;
    }

    to {
        width: 10%;
    }
}

@keyframes progressAnimationStrike23 {
    from {
        width: 0;
    }

    to {
        width: 23%;
    }
}

@keyframes progressAnimationStrike38 {
    from {
        width: 0;
    }

    to {
        width: 38%;
    }
}

@keyframes progressAnimationStrike58 {
    from {
        width: 0;
    }

    to {
        width: 58%;
    }
}

@keyframes progressAnimationStrike73 {
    from {
        width: 0;
    }

    to {
        width: 73%;
    }
}

@keyframes progressAnimationStrike85 {
    from {
        width: 0;
    }

    to {
        width: 85%;
    }
}

@keyframes progressAnimationStrike95 {
    from {
        width: 0;
    }

    to {
        width: 95%;
    }
}

@keyframes progressAnimationStrike100 {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}
